nodered_relais.nr
[{"id":"faad800c.b99148","type":"ui_button","z":"ff8af76.b980d88","name":"relais 1","group":"48db4c23.97f89c","order":2,"width":0,"height":0,"passthru":false,"label":"relais 1","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"1","payloadType":"num","topic":"kw/relais/cmd/1","x":400,"y":300,"wires":[["35c5cbd2.cf3fdc"]]},{"id":"a365d7f6.82788","type":"mqtt in","z":"ff8af76.b980d88","name":"","topic":"kw/relais/stat/1","qos":"2","datatype":"auto","broker":"5702981b.abae6","x":120,"y":300,"wires":[["dc730ee3.0f5e18"]]},{"id":"dc730ee3.0f5e18","type":"function","z":"ff8af76.b980d88","name":"setBG","func":"// get status, set bakground color\nvar msg2 = {};\nvar top = msg.topic.replace('/stat','/cmd');\nvar pos = msg.payload;\nglobal.set(top,pos); // store into flipflop\nif (pos == '0') {\n    pos = msg.payload;\n    msg2.background = \"#0F81C3\";\n}\nif (pos =='1') {\n    pos = msg.payload;\n    msg2.background = \"#fec321\";\n}\nif (pos == '9') {\n    msg2.background = \"#a0a0a0\";\n}\nreturn msg2;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["faad800c.b99148"]]},{"id":"35c5cbd2.cf3fdc","type":"function","z":"ff8af76.b980d88","name":"FlipFlop","func":"// Flip flop mit impuls\npos = global.get(msg.topic);\nif (pos == 'undefined') {\n    pos = 0;\n} \nif (pos == '1') {\n    msg.payload = 0;\n}\nelse {\n    msg.payload = 1;\n}\nglobal.set (msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":300,"wires":[["7c6aeb41.c25ce4"]]},{"id":"7c6aeb41.c25ce4","type":"mqtt out","z":"ff8af76.b980d88","name":"","topic":"","qos":"2","retain":"","broker":"5702981b.abae6","x":730,"y":300,"wires":[]},{"id":"599578c1.e058c","type":"ui_button","z":"ff8af76.b980d88","name":"relais 2","group":"48db4c23.97f89c","order":3,"width":0,"height":0,"passthru":false,"label":"relais 2","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"1","payloadType":"num","topic":"kw/relais/cmd/2","x":410,"y":368,"wires":[["7e922d74.a9174c"]]},{"id":"7c26146d.52fe34","type":"mqtt in","z":"ff8af76.b980d88","name":"","topic":"kw/relais/stat/2","qos":"2","datatype":"auto","broker":"5702981b.abae6","x":122,"y":368,"wires":[["c3e09397.8e4838"]]},{"id":"c3e09397.8e4838","type":"function","z":"ff8af76.b980d88","name":"setBG","func":"// get status, set bakground color\nvar msg2 = {};\nvar top = msg.topic.replace('/stat','/cmd');\nvar pos = msg.payload;\nglobal.set(top,pos); // store into flipflop\nif (pos == '0') {\n    pos = msg.payload;\n    msg2.background = \"#0F81C3\";\n}\nif (pos =='1') {\n    pos = msg.payload;\n    msg2.background = \"#fec321\";\n}\nif (pos == '9') {\n    msg2.background = \"#a0a0a0\";\n}\nreturn msg2;","outputs":1,"noerr":0,"x":274,"y":368,"wires":[["599578c1.e058c"]]},{"id":"7e922d74.a9174c","type":"function","z":"ff8af76.b980d88","name":"FlipFlop","func":"// Flip flop mit impuls\npos = global.get(msg.topic);\nif (pos == 'undefined') {\n    pos = 0;\n} \nif (pos == '1') {\n    msg.payload = 0;\n}\nelse {\n    msg.payload = 1;\n}\nglobal.set (msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":578,"y":368,"wires":[["e97a97e4.738858"]]},{"id":"e97a97e4.738858","type":"mqtt out","z":"ff8af76.b980d88","name":"","topic":"","qos":"2","retain":"","broker":"5702981b.abae6","x":736,"y":368,"wires":[]},{"id":"4ecc813d.8a4c38","type":"ui_button","z":"ff8af76.b980d88","name":"","group":"48db4c23.97f89c","order":4,"width":0,"height":0,"passthru":false,"label":"relais 3","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"1","payloadType":"num","topic":"kw/relais/cmd/3","x":410,"y":452,"wires":[["ea39c224.4a2a6"]]},{"id":"72a161a6.c76778","type":"mqtt in","z":"ff8af76.b980d88","name":"","topic":"kw/relais/stat/3","qos":"2","datatype":"auto","broker":"5702981b.abae6","x":122,"y":452,"wires":[["f653b249.5ba18"]]},{"id":"f653b249.5ba18","type":"function","z":"ff8af76.b980d88","name":"setBG","func":"// get status, set bakground color\nvar msg2 = {};\nvar top = msg.topic.replace('/stat','/cmd');\nvar pos = msg.payload;\nglobal.set(top,pos); // store into flipflop\nif (pos == '0') {\n    pos = msg.payload;\n    msg2.background = \"#0F81C3\";\n}\nif (pos =='1') {\n    pos = msg.payload;\n    msg2.background = \"#fec321\";\n}\nif (pos == '9') {\n    msg2.background = \"#a0a0a0\";\n}\nreturn msg2;","outputs":1,"noerr":0,"x":274,"y":452,"wires":[["4ecc813d.8a4c38"]]},{"id":"ea39c224.4a2a6","type":"function","z":"ff8af76.b980d88","name":"FlipFlop","func":"// Flip flop mit impuls\npos = global.get(msg.topic);\nif (pos == 'undefined') {\n    pos = 0;\n} \nif (pos == '1') {\n    msg.payload = 0;\n}\nelse {\n    msg.payload = 1;\n}\nglobal.set (msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":578,"y":452,"wires":[["cb0c2fa4.63fe8"]]},{"id":"cb0c2fa4.63fe8","type":"mqtt out","z":"ff8af76.b980d88","name":"","topic":"","qos":"2","retain":"","broker":"5702981b.abae6","x":736,"y":452,"wires":[]},{"id":"21b163b6.9becdc","type":"ui_button","z":"ff8af76.b980d88","name":"","group":"48db4c23.97f89c","order":5,"width":0,"height":0,"passthru":false,"label":"relais 4","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"1","payloadType":"num","topic":"kw/relais/cmd/4","x":410,"y":536,"wires":[["255736f.7bf01ca"]]},{"id":"d7698bc7.46615","type":"mqtt in","z":"ff8af76.b980d88","name":"","topic":"kw/relais/stat/4","qos":"2","datatype":"auto","broker":"5702981b.abae6","x":122,"y":536,"wires":[["1cd83a1e.03fd76"]]},{"id":"1cd83a1e.03fd76","type":"function","z":"ff8af76.b980d88","name":"setBG","func":"// get status, set bakground color\nvar msg2 = {};\nvar top = msg.topic.replace('/stat','/cmd');\nvar pos = msg.payload;\nglobal.set(top,pos); // store into flipflop\nif (pos == '0') {\n    pos = msg.payload;\n    msg2.background = \"#0F81C3\";\n}\nif (pos =='1') {\n    pos = msg.payload;\n    msg2.background = \"#fec321\";\n}\nif (pos == '9') {\n    msg2.background = \"#a0a0a0\";\n}\nreturn msg2;","outputs":1,"noerr":0,"x":274,"y":536,"wires":[["21b163b6.9becdc"]]},{"id":"255736f.7bf01ca","type":"function","z":"ff8af76.b980d88","name":"FlipFlop","func":"// Flip flop mit impuls\npos = global.get(msg.topic);\nif (pos == 'undefined') {\n    pos = 0;\n} \nif (pos == '1') {\n    msg.payload = 0;\n}\nelse {\n    msg.payload = 1;\n}\nglobal.set (msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":578,"y":536,"wires":[["f8452267.9b3d28"]]},{"id":"f8452267.9b3d28","type":"mqtt out","z":"ff8af76.b980d88","name":"","topic":"","qos":"2","retain":"","broker":"5702981b.abae6","x":736,"y":536,"wires":[]},{"id":"bcdbe65e.0e99c","type":"ui_button","z":"ff8af76.b980d88","name":"","group":"48db4c23.97f89c","order":6,"width":0,"height":0,"passthru":false,"label":"relais 5","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"1","payloadType":"num","topic":"kw/relais/cmd/5","x":410,"y":620,"wires":[["25328dec.e64b72"]]},{"id":"7dbcad0c.fe8b34","type":"mqtt in","z":"ff8af76.b980d88","name":"","topic":"kw/relais/stat/5","qos":"2","datatype":"auto","broker":"5702981b.abae6","x":122,"y":620,"wires":[["4585f408.f43284"]]},{"id":"4585f408.f43284","type":"function","z":"ff8af76.b980d88","name":"setBG","func":"// get status, set bakground color\nvar msg2 = {};\nvar top = msg.topic.replace('/stat','/cmd');\nvar pos = msg.payload;\nglobal.set(top,pos); // store into flipflop\nif (pos == '0') {\n    pos = msg.payload;\n    msg2.background = \"#0F81C3\";\n}\nif (pos =='1') {\n    pos = msg.payload;\n    msg2.background = \"#fec321\";\n}\nif (pos == '9') {\n    msg2.background = \"#a0a0a0\";\n}\nreturn msg2;","outputs":1,"noerr":0,"x":274,"y":620,"wires":[["bcdbe65e.0e99c"]]},{"id":"25328dec.e64b72","type":"function","z":"ff8af76.b980d88","name":"FlipFlop","func":"// Flip flop mit impuls\npos = global.get(msg.topic);\nif (pos == 'undefined') {\n    pos = 0;\n} \nif (pos == '1') {\n    msg.payload = 0;\n}\nelse {\n    msg.payload = 1;\n}\nglobal.set (msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":578,"y":620,"wires":[["fa93aca3.2580d8"]]},{"id":"fa93aca3.2580d8","type":"mqtt out","z":"ff8af76.b980d88","name":"","topic":"","qos":"2","retain":"","broker":"5702981b.abae6","x":736,"y":620,"wires":[]},{"id":"d7cce3a9.273018","type":"ui_button","z":"ff8af76.b980d88","name":"","group":"48db4c23.97f89c","order":7,"width":0,"height":0,"passthru":false,"label":"relais 6","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"1","payloadType":"num","topic":"kw/relais/cmd/6","x":410,"y":704,"wires":[["68288f13.17ecc"]]},{"id":"cffc5a0a.3abde","type":"mqtt in","z":"ff8af76.b980d88","name":"","topic":"kw/relais/stat/6","qos":"2","datatype":"auto","broker":"5702981b.abae6","x":122,"y":704,"wires":[["80d9ecbe.59423"]]},{"id":"80d9ecbe.59423","type":"function","z":"ff8af76.b980d88","name":"setBG","func":"// get status, set bakground color\nvar msg2 = {};\nvar top = msg.topic.replace('/stat','/cmd');\nvar pos = msg.payload;\nglobal.set(top,pos); // store into flipflop\nif (pos == '0') {\n    pos = msg.payload;\n    msg2.background = \"#0F81C3\";\n}\nif (pos =='1') {\n    pos = msg.payload;\n    msg2.background = \"#fec321\";\n}\nif (pos == '9') {\n    msg2.background = \"#a0a0a0\";\n}\nreturn msg2;","outputs":1,"noerr":0,"x":274,"y":704,"wires":[["d7cce3a9.273018"]]},{"id":"68288f13.17ecc","type":"function","z":"ff8af76.b980d88","name":"FlipFlop","func":"// Flip flop mit impuls\npos = global.get(msg.topic);\nif (pos == 'undefined') {\n    pos = 0;\n} \nif (pos == '1') {\n    msg.payload = 0;\n}\nelse {\n    msg.payload = 1;\n}\nglobal.set (msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":578,"y":704,"wires":[["86cc81f2.32aaf8"]]},{"id":"86cc81f2.32aaf8","type":"mqtt out","z":"ff8af76.b980d88","name":"","topic":"","qos":"2","retain":"","broker":"5702981b.abae6","x":736,"y":704,"wires":[]},{"id":"a914a261.81cf3","type":"ui_button","z":"ff8af76.b980d88","name":"","group":"48db4c23.97f89c","order":8,"width":0,"height":0,"passthru":false,"label":"relais 7","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"1","payloadType":"num","topic":"kw/relais/cmd/7","x":410,"y":788,"wires":[["7b3fc0dc.53dca8"]]},{"id":"c6acb41a.f8f4a","type":"mqtt in","z":"ff8af76.b980d88","name":"","topic":"kw/relais/stat/7","qos":"2","datatype":"auto","broker":"5702981b.abae6","x":122,"y":788,"wires":[["cdbf840c.e7d1a8"]]},{"id":"cdbf840c.e7d1a8","type":"function","z":"ff8af76.b980d88","name":"setBG","func":"// get status, set bakground color\nvar msg2 = {};\nvar top = msg.topic.replace('/stat','/cmd');\nvar pos = msg.payload;\nglobal.set(top,pos); // store into flipflop\nif (pos == '0') {\n    pos = msg.payload;\n    msg2.background = \"#0F81C3\";\n}\nif (pos =='1') {\n    pos = msg.payload;\n    msg2.background = \"#fec321\";\n}\nif (pos == '9') {\n    msg2.background = \"#a0a0a0\";\n}\nreturn msg2;","outputs":1,"noerr":0,"x":274,"y":788,"wires":[["a914a261.81cf3"]]},{"id":"7b3fc0dc.53dca8","type":"function","z":"ff8af76.b980d88","name":"FlipFlop","func":"// Flip flop mit impuls\npos = global.get(msg.topic);\nif (pos == 'undefined') {\n    pos = 0;\n} \nif (pos == '1') {\n    msg.payload = 0;\n}\nelse {\n    msg.payload = 1;\n}\nglobal.set (msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":578,"y":788,"wires":[["4009c2b6.4b174c"]]},{"id":"4009c2b6.4b174c","type":"mqtt out","z":"ff8af76.b980d88","name":"","topic":"","qos":"2","retain":"","broker":"5702981b.abae6","x":736,"y":788,"wires":[]},{"id":"c0742e3a.1c9f1","type":"ui_button","z":"ff8af76.b980d88","name":"","group":"48db4c23.97f89c","order":9,"width":0,"height":0,"passthru":false,"label":"relais 8","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"1","payloadType":"num","topic":"kw/relais/cmd/8","x":420,"y":860,"wires":[["9c861546.106f68"]]},{"id":"5b6d2569.6bf46c","type":"mqtt in","z":"ff8af76.b980d88","name":"","topic":"kw/relais/stat/8","qos":"2","datatype":"auto","broker":"5702981b.abae6","x":120,"y":860,"wires":[["49cffa82.409e04"]]},{"id":"49cffa82.409e04","type":"function","z":"ff8af76.b980d88","name":"setBG","func":"// get status, set bakground color\nvar msg2 = {};\nvar top = msg.topic.replace('/stat','/cmd');\nvar pos = msg.payload;\nglobal.set(top,pos); // store into flipflop\nif (pos == '0') {\n    pos = msg.payload;\n    msg2.background = \"#0F81C3\";\n}\nif (pos =='1') {\n    pos = msg.payload;\n    msg2.background = \"#fec321\";\n}\nif (pos == '9') {\n    msg2.background = \"#a0a0a0\";\n}\nreturn msg2;","outputs":1,"noerr":0,"x":270,"y":860,"wires":[["c0742e3a.1c9f1"]]},{"id":"9c861546.106f68","type":"function","z":"ff8af76.b980d88","name":"FlipFlop","func":"// Flip flop mit impuls\npos = global.get(msg.topic);\nif (pos == 'undefined') {\n    pos = 0;\n} \nif (pos == '1') {\n    msg.payload = 0;\n}\nelse {\n    msg.payload = 1;\n}\nglobal.set (msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":860,"wires":[["5eefa320.ffd1cc"]]},{"id":"5eefa320.ffd1cc","type":"mqtt out","z":"ff8af76.b980d88","name":"","topic":"","qos":"2","retain":"","broker":"5702981b.abae6","x":730,"y":860,"wires":[]},{"id":"e5999c02.d661e","type":"comment","z":"ff8af76.b980d88","name":"Relais-Steuerung mit Tippschalter","info":"","x":182,"y":242,"wires":[]},{"id":"4cacb3cc.485dbc","type":"function","z":"ff8af76.b980d88","name":"remove_test_relais","func":"// Remove all status info \nvar top = \"KW/relais/\"\nvar i;\nfor (i = 1; i < 9; i++) {\n    topi = top+String(i);\n    global.set (topi,undefined);\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":940,"wires":[[]]},{"id":"66a32edb.059b38","type":"inject","z":"ff8af76.b980d88","name":"clear relais status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"none","payload":"","payloadType":"str","x":440,"y":940,"wires":[["4cacb3cc.485dbc"]]},{"id":"48db4c23.97f89c","type":"ui_group","z":"","name":"Relais Funkstation","tab":"376bd317.a2195c","order":2,"disp":true,"width":"6","collapse":false},{"id":"5702981b.abae6","type":"mqtt-broker","z":"","name":"homectl","broker":"192.168.4.5","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"376bd317.a2195c","type":"ui_tab","z":"","name":"KW-Station","icon":"dashboard","disabled":false,"hidden":false}]
