nodered_timeout.nr
[{"id":"e0b25841.c8da4","type":"timeout","z":"ff8af76.b980d88","name":"test timeout","outtopic":"test/status","outsafe":"Safe","outwarning":"Warning","outunsafe":"Unsafe","warning":"320","timer":"640","repeat":false,"again":false,"x":350,"y":1240,"wires":[["e79f029e.35e5e8"]]},{"id":"3ef258b2.d8f128","type":"mqtt in","z":"ff8af76.b980d88","name":"","topic":"kw/relais/LWT","qos":"2","datatype":"auto","broker":"5702981b.abae6","x":110,"y":1240,"wires":[["e0b25841.c8da4","74b12c52.d740bc"]]},{"id":"746ef046.4b3838","type":"inject","z":"ff8af76.b980d88","name":"","props":[{"p":"payload","v":"Online","vt":"str"},{"p":"topic","v":"kw/relais/LWT","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"kw/relais/LWT","payload":"Online","payloadType":"str","x":150,"y":1180,"wires":[["74b12c52.d740bc","e0b25841.c8da4"]]},{"id":"e79f029e.35e5e8","type":"function","z":"ff8af76.b980d88","name":"make msg","func":"// Send error message\nvar msg1 = {};\nvar msg2 = {};\nmsg2.topic = 'kw/relais/stat/xx';\nmsg1.topic = 'error/mail';\nif (msg.payload == 'Warning') {\n    msg1.payload = 'kw/relais: WARNING! No message seen for about 5 Minutes.';\n    msg2.payload = '999';\n}\nif (msg.payload == 'Unsafe') {\n    msg1.payload = 'kw/relais: ERROR ! No message for about 10 Minutes. \\n\\n Realais node DOWN !! ';\n    msg2.payload = '999';\n} \nif (msg.payload == 'Safe') {\n    msg1.payload = 'kw/relais got message! -- System up again!';\n    return\n}\nif (global.get('kw/station') === 0 ){\n    msg1.topic = ''\n    msg1.payload = ''\n}\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":530,"y":1240,"wires":[["f2c135f5.31aef"],["203d63d5.409ad4"]]},{"id":"f2c135f5.31aef","type":"mqtt out","z":"ff8af76.b980d88","name":"","topic":"error/mail","qos":"2","retain":"","broker":"5702981b.abae6","x":740,"y":1240,"wires":[]},{"id":"aee78730.a5faa","type":"comment","z":"ff8af76.b980d88","name":"Test-reset","info":"","x":100,"y":1140,"wires":[]},{"id":"bac85883.7ad96","type":"comment","z":"ff8af76.b980d88","name":"Time-out Überwachung","info":"","x":140,"y":1080,"wires":[]},{"id":"72f7ffc0.7bc9c8","type":"ui_text","z":"ff8af76.b980d88","group":"48db4c23.97f89c","order":1,"width":0,"height":0,"name":"","label":"Relais Status am","format":"{{msg.payload}}","layout":"col-center","x":710,"y":1180,"wires":[]},{"id":"203d63d5.409ad4","type":"function","z":"ff8af76.b980d88","name":"reset","func":"// Switch all relais to undef\nif (msg.topic === 'undefined') {\n    return;\n}\nvar rvon = 1;\nvar rbis = 8;\nvar relais = '';\nvar rload = msg.payload;\nvar topic = msg.topic.replace('xx','');\nif (rload === '999') {\n    msg.payload = '9';\n    var i = 0;\n    for (i = rvon; i < rbis + 1; i++) {\n        msg.topic = topic+i.toString();\n        node.send(msg);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1340,"wires":[["d544b7ab.b8a64"]]},{"id":"d544b7ab.b8a64","type":"mqtt out","z":"ff8af76.b980d88","name":"","topic":"","qos":"2","retain":"","broker":"5702981b.abae6","x":750,"y":1340,"wires":[]},{"id":"74b12c52.d740bc","type":"moment","z":"ff8af76.b980d88","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/Zurich","adjAmount":0,"adjType":"days","adjDir":"add","format":"'DD.MM.YYYY HH:mm'","locale":"de_CH","output":"payload","outputType":"msg","outTz":"Europe/Zurich","x":440,"y":1180,"wires":[["72f7ffc0.7bc9c8"]]},{"id":"5702981b.abae6","type":"mqtt-broker","z":"","name":"homectl","broker":"192.168.4.5","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"48db4c23.97f89c","type":"ui_group","z":"","name":"Relais Funkstation","tab":"376bd317.a2195c","order":2,"disp":true,"width":"6","collapse":false},{"id":"376bd317.a2195c","type":"ui_tab","z":"","name":"KW-Station","icon":"dashboard","disabled":false,"hidden":false}]
